#!/bin/sh -x
# Workdir: /home/builder/rpmbuild

# create rpmbuild tree
rpmdev-setuptree
# Download sources
spectool -g -R SPECS/{spec}
# Build rpm package
rpmbuild --define 'release {release}' -ba SPECS/{spec}
